{#
/**
 * @file
 * Tonic override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="tonic-breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="tonic-breadcrumb__list">
    {% for item in breadcrumb %}
      {% if item.text %}
      <li class="tonic-breadcrumb__item">
        {% if item.url %}
          <a href="{{ item.url }}" class="tonic-breadcrumb__link"{% if item.attributes.title %} title="{{ item.attributes.title }}"{% endif %}{% if item.attributes.data %} {{ item.attributes.data }}{% endif %}>{{ item.text }}</a>
        {% else %}
          <span class="tonic-breadcrumb__text">{{ item.text }}</span>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
